<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="gazebo_xtion" params="reference update_rate">
      <gazebo reference="${reference}">
        <sensor type="depth" name="${reference}">

          <always_on>true</always_on>
          <visualize>true</visualize>
          <update_rate>${update_rate}</update_rate>

          <camera>
            <horizontal_fov>${62.8 * M_PI/180.0}</horizontal_fov>
            <image>
              <format>R8G8B8</format>
              <width>${640}</width>
              <height>${480}</height>
            </image>
            <clip>
              <near>0.8</near>
              <far>3.5</far>
            </clip>
          </camera>

          <plugin name="${reference}_camera_controller" filename="libgazebo_ros_openni_kinect.so">
            <robotNamespace>/</robotNamespace>

            <alwaysOn>true</alwaysOn>
            <updateRate>${update_rate}</updateRate>
            <cameraName>${reference}</cameraName>
            <frameName>${reference}_optical</frameName>

            <depthImageTopicName>depth/image_raw</depthImageTopicName>
            <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
            <pointCloudTopicName>depth/points</pointCloudTopicName>

            <pointCloudCutoff>0.4</pointCloudCutoff>
            <hackBaseline>0.07</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
            <CxPrime>0.0</CxPrime>
            <Cx>0.0</Cx>
            <Cy>0.0</Cy>
            <focalLength>0.0</focalLength>

          </plugin>

        </sensor>
      </gazebo>
    </xacro:macro>

  </robot>
