<?xml version="1.0"?>
<launch>

  <arg name="robot_model"            default="hera_full"/>
  <arg name="robot_name"             default="robot"/>

  <arg name="enable_rviz"            default="true"/>
  <arg name="enable_gazebo"          default="true"/>
  <arg name="enable_teleop"          default="true"/>
  <arg name="enable_check_collision" default="true"/>

  <!-- use rviz -->
  <group if="$(arg enable_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" output="screen"
      args="-d $(find hera_description)/config/rviz/visualize_model.rviz"/>
  </group>

  <!-- use gazebo -->
  <group if="$(arg enable_gazebo)">
    <!-- gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <!-- load hera description -->
    <include file="$(find hera_description)/launch/load_description.launch">
      <arg name="robot_model" default="$(arg robot_model)"/>
      <arg name="robot_name" 	default="$(arg robot_name)"/>
      <arg name="use_jsp_gui" default="false"/>
    </include>
  </group>

  <!-- not use gazebo -->
  <group unless="$(arg enable_gazebo)">
    <!-- load hera description -->
    <include file="$(find hera_description)/launch/load_description.launch">
      <arg name="robot_model" default="$(arg robot_model)"/>
      <arg name="use_jsp_gui" default="true"/>
    </include>
  </group>

  <!-- keyboard teleop -->
  <group if="$(arg enable_teleop)" >
    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"
      output="screen" launch-prefix="xterm -hold -e"/>
  </group>

  <!-- check collision -->
  <group if="$(arg enable_check_collision)">
    <node name="hera_check_collision" pkg="hera_description" type="hera_check_collision" output="screen">
      <param name="world_name" value="default"/>
      <param name="robot_name" value="$(arg robot_name)"/>
    </node>
  </group>

</launch>
